*{
	padding: 0;
	margin: 0;
}
body{
	background-image: url("../../assets/img/imagen-de-fondo.jpg");
	background-size: cover;
}
h1{
	background: DodgerBlue;
	border: 1px outset grey;
	height: 50px;
	text-align: center;
	color: white;
}
.contenedor1{
	float: left;
	background: white;
	display: inline-block;
	width: 500px;
	height: 200px;
	margin-top: 30px;
	padding-top: 30px;
	padding-left: 30px;
	margin-left: 50px;
}
p{
	margin-top: 20px;
}

.contenedor1 .codigo{
	color: blue;
	margin-top: 50px;
}
.contenedor2{
	position: relative;
}
.texto{
	position: absolute;
	width: 500px;
	height: 210px;
	margin-top: 30px;
	margin-left:50px;
	font-size: 17px;
	padding-left: 20px;
	padding-top: 20px;
}
hr{
	width: 460px;
	height: 5px;
	position: absolute;
	background: DodgerBlue;
	margin-left: 650px;
	margin-top:150px;
}
.boton{
	background: DodgerBlue;
	position: absolute;
	padding: 10px 15px;
	margin-top:200px;
	right: 545px;
	color: white;
}
.text-muted{
	font-size: 30px;
	position: absolute;
	top: 190px;
	right: 180px;
}
.clase_div_contenedor{
	position: relative;
	margin-top:300px;
	margin-left: 50px;
	font-size: 20px;
	background: white;
	width: 1200px;
	height: 60px;
}